@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;600;700;800&display=swap');

/* Global styles */

body, * {
  font-family: "Assistant";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.flex {
  display: flex;
}

.vcenter {
  display: flex;
  align-items: center;
}

.hcenter {
  display: flex;
  justify-content: center;
}

/* Header section */

header {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  background: #4473C5;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 15px;
  box-sizing: border-box;
  z-index: 4;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 54px;
}

nav {
  width: 50%;
  text-align: center;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a, header a:visited, header a:active, footer a, footer a:visited, footer a:active {
  text-decoration: none;
  color: inherit;
}

header a:hover {
  color: white;
  text-decoration: underline;
}

.main {
  display: flex;
  flex-direction:column;
  width: 100vw;
  box-sizing: border-box;
}

/* Hero images */

.index-hero {
  width: 100vw;
  height: 700px;
  background-image: url("../img/1.png");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px;
  box-sizing: border-box;
}

.about-hero {
  width: 100vw;
  height: 800px;
  background-image: url("../img/5.png");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px;
  box-sizing: border-box;
}

.services-hero {
  width: 100vw;
  height: 800px;
  background-image: url("../img/7.png");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px;
  box-sizing: border-box;
}

.services-hero-2 {
  width: 100vw;
  height: 600px;
  background-image: url("../img/10.png");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px;
  box-sizing: border-box;
}

/* Overlays */

.overlay-small {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  color: #0F2449;
  margin: 1%;
  padding: 1%;
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
  min-width: 240px;
}

.about-overlay {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  color: #0F2449;
  padding: 1%;
  font-size: 20px;
  font-weight: 300;
  box-sizing:border-box;
  width: 500px;
  position: absolute;
}

.about-overlay ul {
  margin-left: 20px;
}

.overlay-small::first-line {
  font-size: 36px;
  font-weight: 600;
}

.services-overlay {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  color: #0F2449;
  margin: 100px;
  padding: 1%;
  font-size: 20px;
  font-weight: 300;
  min-width: 400px;
  box-sizing:border-box;
  width: 25vw;
  position: absolute;
  right: 25px;
  top: 200px;
}

.services-s6-overlay {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  color: #0F2449;
  padding: 1%;
  font-size: 20px;
  font-weight: 300;
  box-sizing:border-box;
  width: 500px;
  position: absolute;
}

/* Section styles */

.index-s1 {
  background-color: #4473C5;
  color: white;
  box-sizing: border-box;
  padding: 3% 30%;
  font-size: 24px;
  font-weight: 300;
}

.index-s1 p {
  text-align: justify;
}

.about-s1, .about-s3 {
  background-color: #4473C5;
  color: white;
  box-sizing: border-box;
  padding: 3vw 20vw;
  font-size: 24px;
  font-weight: 300;
}

.about-s3, .services-s3 {
  background-color: #D2DEF1;
  color: #020F27;
}

.about-s1 img {
  margin-right: 30px;
  min-height: 200px;
  max-height: 350px;
}

.about-s1 p {
  width: 75%;
}

.about-s1 span {
  font-size: 40px;
  font-weight: 700;
}

.about-s2 span {
  font-size: 40px;
}

.about-s2, .about-s4, .services-s2, .services-s5 {
  background-color: #A2B9E2;
  color: #020F27;
  box-sizing: border-box;
  padding: 3% 30%;
  font-size: 24px;
  font-weight: 300;
}

.about-s3 img {
  margin-right: 20px;
  height: 270px;
  width: 259px;
}

.about-s3 h1, .about-s4 h1 {
  font-weight: 100;
  font-size: 48px;
  margin-bottom: 50px;
}

.about-s4 h5 {
  font-size: 24px;
  font-weight: 700;
}

.index-s1 h1, .services-s2 h1, .services-s3 h1, .services-s5 h1  {
  margin-top: 0;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 40px;
}

.services-s1 {
  background-color: #4473C5;
  color:white;
  font-size: 36px;
  font-weight: 500;
  box-sizing: border-box;
  padding: 20px 2vw;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.services-s2 {
  z-index: 2;
}

.services-s2 img {
position: absolute;
right: 0;
margin-top: 50px;
width: 25vw;
}

.services-s2 li, .services-s3 li {
  margin-bottom: 15px;
}

.services-s2 ul {
  margin-top: 20px;
  font-size: 20px;
  margin-left: 20px;
}

.services-s3 {
  font-size: 24px;
  font-weight: 300;
  padding: 70px 2vw 20px 2vw;
  z-index: 1;
}

.services-s3 img {
  float: left;
  position: relative;
  margin: -120px 60px 50px -60px;
  max-height: 550px;
}

.services-s3 p {
  margin: 40px;
  width: 70%;
}

.services-s3 ul {
  margin-left: 60px;
  font-size: 20px;
  margin-bottom: 60px;
}

.services-s4 {
  background:#4473C5 url('../img/8.png') no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 70px;
  font-size: 20px;
  line-height: 30px;
}

.services-s4 h1 {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 48px;
}

.services-s4>p {
  max-width: 1200px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.services-s4 .flex {
  margin-top: 80px;
  margin-left: 50px;
  justify-content: center;
}

.services-s4 .flex>div {
  width: 50%;
  padding: 0 5% 0 0;
  box-sizing: border-box;
}

.services-s4 span {
  font-weight: 700;
}

.services-s4 ul {
  margin-left: 20px;
}

.services-s4 li {
  margin: 10px 0px;
}

.services-s4 img {
  margin-top: 20px;
}

.services-s5 {
  padding: 3% 5%;
}

.services-s5 h1 {
  margin: 0 0 40px 15%;
}

.services-s5 p {
  margin: 40px 15%;
}

.services-s5 p>span {
  font-weight: 600;
}

.services-s5 .flex {
  width: 80vw;
  margin: 0 10%;
}

.services-s5 .flex>div {
  font-size: 18px;
  margin-right: 5%;
  margin-top: 50px;
}

.services-s5 .flex div span {
  font-weight: 700;
  line-height: 31px;
}

.services-s5 ul {
  margin-left: 12px;
}

.services-s5 li {
  margin: 10px 0;
}

.services-s6 {
  width: 100vw;
  height: 1050px;
  background-image: url("../img/17.png");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: top;
  z-index: -1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px;
  box-sizing: border-box;
}


/* Footer styles */

footer {
  background-color: #020F27;
  color: #7699D5;
  padding: 1%;
  font-size: 18px;
}

footer a {
 color: #7699D5;
 margin: 1%;
}

footer a:hover {
  color: white;
  text-decoration: none;
}

footer span {
  font-size: 12px;
  position: absolute;
  right: 15px;
  max-width: 500px;
}
