@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;600;700;800&display=swap');

/* Global styles */

body, * {
  font-family: "Assistant";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  background-color: #4473C5;
}

.flex {
  display: flex;
}

.vcenter {
  display: flex;
  align-items: center;
}

.hcenter {
  display: flex;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4473C5;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  color: white;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 3;
  font-weight: 300;
  text-align: left;
  font-size: 16px;
}

.services-dd.dropdown-content {
  right: 250px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .services-dd.dropdown-content {
  display: flex;
}

.services-dd.dropdown-content div {
  margin-right: 25px;
  width: 150px;
}

/* Carousel styles */

.slides {
  display: none;
  transition: opacity .6s ease;
}

.slideshow-container {
  width: 100vw;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 10px;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dots {
  margin-top: -30px;
  text-align: center;
  z-index: 3;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Form styles */

.form-style-1 {
	max-width: 500px;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}

/* Header section */

header {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  background: #4473C5;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 15px;
  box-sizing: border-box;
  z-index: 4;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container>span {
  display: flex;
  align-items: center;
}

.logo {
  height: 54px;
  margin-right: 10px;
}

nav {
  width: 60%;
  text-align: center;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a, header a:visited, header a:active, footer a, footer a:visited, footer a:active {
  text-decoration: none;
  color: inherit;
}

header a:hover {
  color: white;
  text-decoration: underline;
}

.main {
  display: flex;
  flex-direction:column;
  width: 100vw;
  box-sizing: border-box;
}

/* Hero images */

.index-hero {
  width: 100vw;
  height: 700px;
  background-image: url("../img/1.png");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px;
  box-sizing: border-box;
}

.index-hero-2 {
  width: 100vw;
  height: 700px;
  background-image: url("../img/2.png");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px;
  box-sizing: border-box;
}

.index-hero-3 {
  width: 100vw;
  height: 700px;
  background-image: url("../img/3.png");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px;
  box-sizing: border-box;
}

.index-hero-4 {
  width: 100vw;
  height: 700px;
  background-image: url("../img/4.png");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px;
  box-sizing: border-box;
}

.about-hero {
  width: 100vw;
  height: 800px;
  background-image: url("../img/5.png");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px;
  box-sizing: border-box;
}

.services-hero {
  width: 100vw;
  height: 800px;
  background-image: url("../img/7.png");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px;
  box-sizing: border-box;
}

.services-hero-2 {
  width: 100vw;
  height: 600px;
  background-image: url("../img/10.png");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px;
  box-sizing: border-box;
}

/* Overlays */

.overlay-small {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  color: #0F2449;
  margin: 1%;
  padding: 1%;
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
  min-width: 240px;
}

.about-overlay {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  color: #0F2449;
  padding: 1%;
  font-size: 20px;
  font-weight: 300;
  box-sizing:border-box;
  width: 500px;
  position: absolute;
}

.index-overlay-2 {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  color: #0F2449;
  padding: 1%;
  font-size: 20px;
  font-weight: 300;
  box-sizing:border-box;
  width: 600px;
  position: absolute;
  right: 40px;
}

.index-overlay-3 {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  color: #0F2449;
  padding: 1%;
  font-size: 20px;
  font-weight: 300;
  box-sizing:border-box;
  width: 600px;
  position: absolute;
  left: 40px;
}


.about-overlay ul {
  margin-left: 20px;
}

.overlay-small::first-line {
  font-size: 36px;
  font-weight: 600;
}

.services-overlay {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  color: #0F2449;
  margin: 100px;
  padding: 1%;
  font-size: 20px;
  font-weight: 300;
  min-width: 400px;
  box-sizing:border-box;
  width: 25vw;
  position: absolute;
  right: 25px;
  top: 200px;
}

.services-s6-overlay {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  color: #0F2449;
  padding: 1%;
  font-size: 20px;
  font-weight: 300;
  box-sizing:border-box;
  width: 500px;
  position: absolute;
}

/* Section styles */

.index-s1 {
  background-color: #4473C5;
  color: white;
  box-sizing: border-box;
  padding: 5% 30%;
  font-size: 24px;
  font-weight: 300;
  margin-top: 9px;
}

.index-s1 p {
  text-align: justify;
}

.slideshow-container ul {
  list-style-type: none;
}

.index-overlay-2 .flex div, .index-overlay-3 .flex div {
  padding: 15px;
  line-height: 40px;
}

.about-s1, .about-s3, .industries-s1 {
  background-color: #4473C5;
  color: white;
  box-sizing: border-box;
  padding: 3vw 20vw;
  font-size: 24px;
  font-weight: 300;
}

.about-s3, .services-s3 {
  background-color: #D2DEF1;
  color: #020F27;
}

.about-s1 img {
  margin-right: 30px;
  min-height: 200px;
  max-height: 350px;
}

.about-s1 p {
  width: 75%;
}

.about-s1 span {
  font-size: 40px;
  font-weight: 700;
}

.about-s2 span {
  font-size: 40px;
}

.about-s2, .about-s4, .services-s2, .services-s5, .services-s7, .services-s9 {
  background-color: #A2B9E2;
  color: #020F27;
  box-sizing: border-box;
  padding: 3% 30%;
  font-size: 24px;
  font-weight: 300;
}

.about-s3 img {
  margin-right: 20px;
  height: 270px;
  min-width: 259px;
}

.about-s3 h1, .about-s4 h1 {
  font-weight: 100;
  font-size: 48px;
  margin: 50px 0;
}


.about-s4 h5 {
  font-size: 24px;
  font-weight: 700;
}

.index-s1 h1, .services-s2 h1, .services-s3 h1, .services-s5 h1, .services-s7 h1, .services-s9 h1, .contact-s1 h1  {
  margin-top: 0;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 40px;
}

.services-s1 {
  background-color: #4473C5;
  color:white;
  font-size: 36px;
  font-weight: 500;
  box-sizing: border-box;
  padding: 20px 2vw;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.services-s2 {
  z-index: 2;
}

.services-s2 img {
position: absolute;
right: 0;
margin-top: 50px;
width: 25vw;
}

.services-s2 li, .services-s3 li {
  margin-bottom: 15px;
}

.services-s2 ul {
  margin-top: 20px;
  font-size: 20px;
  margin-left: 20px;
}

.services-s3 {
  font-size: 24px;
  font-weight: 300;
  padding: 70px 2vw 20px 2vw;
  z-index: 1;
}

.services-s3 img {
  float: left;
  position: relative;
  margin: -120px 60px 50px -60px;
  max-height: 550px;
}

.services-s3 p {
  margin: 40px;
  width: 70%;
}

.services-s3 ul {
  margin-left: 60px;
  font-size: 20px;
  margin-bottom: 60px;
}

.services-s4 {
  background:#4473C5 url('../img/8.png') no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 70px;
  font-size: 20px;
  line-height: 30px;
}

.services-s4 h1, .services-s8 h1 {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 48px;
}

.services-s4>p {
  max-width: 1200px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.services-s4 .flex {
  margin-top: 80px;
  margin-left: 50px;
  justify-content: center;
}

.services-s4 .flex>div {
  width: 50%;
  padding: 0 5% 0 0;
  box-sizing: border-box;
}

.services-s4 span {
  font-weight: 700;
}

.services-s4 ul {
  margin-left: 20px;
}

.services-s4 li {
  margin: 10px 0px;
}

.services-s4 img {
  margin-top: 20px;
}

.services-s5 {
  padding: 3% 5%;
}

.services-s5 h1 {
  margin: 0 0 40px 15%;
}

.services-s5 p {
  margin: 40px 15%;
}

.services-s5 p>span {
  font-weight: 600;
}

.services-s5 .flex {
  width: 80vw;
  margin: 0 10%;
}

.services-s5 .flex>div {
  font-size: 18px;
  margin-right: 5%;
  margin-top: 50px;
}

.services-s5 .flex div span {
  font-weight: 700;
  line-height: 31px;
}

.services-s5 ul {
  margin-left: 12px;
}

.services-s5 li {
  margin: 10px 0;
}

.services-s6 {
  width: 100vw;
  height: 1050px;
  background-image: url("../img/17.png");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: top;
  z-index: -1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px;
  box-sizing: border-box;
}

.services-s7 {
  width: 100vw;
  height: 1050px;
  background-image: url("../img/16.png");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: top;
  z-index: -1;
  padding: 20px;
  box-sizing: border-box;
  padding: 300px 100px 100px 100px;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: -1px;
}

.services-s7 p {
  width: 35vw;
  margin-bottom: 50px;
}

.services-s8 {
  width: 100vw;
  height: 950px;
  background-image: url("../img/14.png");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: top;
  z-index: -1;
  padding: 50px;
  font-size: 20px;
  line-height: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.services-s8 h1, .services-s8 p {
width: 40vw;
}

.services-s9 img {
  margin: 30px 0;
}

.services-s9 h3 {
  font-weight: 700;
  font-size: 24px;
}

.services-s9 ul, .industries-s1 ul {
  margin-right: 40px;
  list-style-type: none;
  font-size: 20px;
  line-height: 34px;
}

.industries-s1 h1 {
  margin-bottom: 50px;
}

.industries-s1 {
  height: 95vh;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 300;
  padding: 8% 2% 8% 2%;
}

.icons {
  margin-top: 30px;
}

.icons img {
  margin-right: 10px;
}

.contact-s1 {
  background-color: #A2B9E2;
  color: #020F27;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 300;
  padding: 8% 0 8% 0;
}

.contact-s1 form {
  margin-top: 10px;
}

/* Footer styles */

footer {
  background-color: #020F27;
  color: #7699D5;
  padding: 1%;
  font-size: 18px;
}

footer a {
 color: #7699D5;
 margin: 1%;
}

footer a:hover {
  color: white;
  text-decoration: none;
}

footer span {
  font-size: 12px;
  position: absolute;
  right: 15px;
  max-width: 600px;
}
